.head-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(110deg, #f4f7fa 60%, #f2bd85 60%);
  box-shadow: -12px 12px 13px -8px rgba(43, 89, 141, 0.71);
  padding: 1rem;
  margin-bottom: 2rem;
  gap: 3rem;
  max-width: 1500px;

  lottie-player {
    height:300px;
    width: 300px;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: left;

    .name-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .top {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 1rem;

        .blue-square {
          height: 1.3rem;
          width: 1.3rem;
          background-color: #85baf2;
        }
      }

      p {
        margin-top: 10px;
        font-style: italic;
        text-transform: uppercase;
      }
    }

    .information-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      .information-component-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 250px;

        .information-component {
          display: flex;
          flex-direction: row;
          .icon {
            max-width: 15px;
            max-height: 15px;
            margin-right: 0.313rem;
          }
        }
      }
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;

  .button-cv {
    color: black;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #f2bd85;
    border: 1px solid #f2bd85;
    box-shadow: -12px 12px 13px -8px rgba(43, 89, 141, 0.71);
    cursor: pointer;
    transition: 0.8s;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .button-cv:hover {
    color: #f2bd85;
  }

  .button-cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #ffff;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }

  .button-cv:hover::before,
  .button-cv:focus::before {
    transform: scaleX(1);
  }

  .active {
    background-color:#ffff;
    color:#f2bd85;
  }

  .active::before {
    transition: none !important;
  }
}

@media (max-width: 1000px) {
  .head-cv {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
}

@media (max-width: 600px) {
  .head-cv {
    align-items: center;
    .information {
      align-items: center;
      .name-container {
        align-items: center;
      }
      .information-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .information-component-container {
          align-items: center;
        }
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 488px) {
  .head-cv {
    lottie-player{
      height: 200px;
      width: 200px;
    }
    .information {
      .name-container {
        .top {
          .blue-square {
            height: 15px;
            width: 15px;
          }
          h1 {
            font-size: 20px;
          }
        }
        p {
          font-size: 10px;
        }
      }
    }
    .information-details {
      .information-component-container {
        .information-component {
          img {
            height: 10px;
            width: 10px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .head-cv {
    lottie-player {
      height: 125px;
      width: 125px;
    }
    .information {
      .name-container {
        .top {
          h1 {
            font-size: 14px;
          }
          .blue-square {
            height: 10px;
            width: 10px;
          }
        }
        p {
          font-size: 9px;
        }
      }
    }
  }
}

@media (min-width: 1680px) {
  .head-container{
    display: flex;
    justify-content: center;
    .head-cv{
      min-width: 1500px;
      display: flex;
    }
  }
}
