<div class="head-cv">
  <img src="" alt="img cv" />
  <div class="information">
    <div class="name-container">
      <div class="top">
        <span class="blue-square"></span>
        <h1>Michael Bardou</h1>
      </div>
      <p>Étudiant en informatique</p>
    </div>
    <div class="information-details">
      <div class="information-component-container">
        <div class="information-component" *ngFor="let data of dataContact">
          <img class="icon" src="{{ data.icon }}" />
          <p>{{ data.description }}</p>
        </div>
      </div>
      <div class="information-component-container">
        <div class="information-component" *ngFor="let data of dataComplement">
          <img class="icon" src="{{ data.icon }}" />
          <p>{{ data.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-container">
  <button class="button-cv" routerLink="experiences">Expériences</button>
  <button class="button-cv" routerLink="formations">Formations</button>
  <button class="button-cv" routerLink="skills">Compétences</button>
</div>
<router-outlet></router-outlet>
