<div class="head-container">
  <div class="head-cv">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_rycdh53q.json" background="transparent"  speed="1" loop autoplay></lottie-player>
    <div class="information">
      <div class="name-container">
        <div class="top">
          <span class="blue-square"></span>
          <h1>Michael Bardou</h1>
        </div>
        <p>Étudiant en informatique</p>
      </div>
      <div class="information-details">
        <div class="information-component-container">
          <div class="information-component" *ngFor="let data of dataContact">
            <img class="icon" src="{{ data.icon }}" alt="icon"/>
            <p>{{ data.description }}</p>
          </div>
        </div>
        <div class="information-component-container">
          <div class="information-component" *ngFor="let data of dataComplement">
            <img class="icon" src="{{ data.icon }}" alt="icon"/>
            <p>{{ data.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-container">
  <button
    class="button-cv" routerLink="experiences"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Expériences</button>
  <button
    class="button-cv" routerLink="formations"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Formations</button>
  <button
    class="button-cv"
    routerLink="skills"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    Compétences</button>
</div>
<router-outlet></router-outlet>
