<div id="container" [@listAnimation]="projectData.length">
  <h1>Projets</h1>
  <div class="project-item" *ngFor="let data of projectData">
    <div class="project-presentation">
      <h3>{{ data.title }}</h3>
      <p class="project-item-description">{{ data.description }}</p>
      <span class="project-item-tools">Outils utilisés : {{ data.tools }}</span>
      <div class="project-item-link">
        <img
          class="project-item-icon"
          src="../../assets/Ressources/github-brands.svg"
        />
        <a href="{{ data.githubLink }}">{{ data.githubLink }}</a>
      </div>
    </div>
    <div class="project-item-image">
      <img
        src="{{ data.imagePath }}"
        alt="gif of {{ data.title }}"
        width="250"
        height="200"
      />
    </div>
  </div>
</div>
