<div @skillsAnimation class="skills-card-container">
  <div class="skills-computer card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Compétences informatiques</h2>
    </div>
    <div class="skills-computer-container">
      <div class="skills-bar">
        <div class="skills-info">
          <span>Java</span>
        </div>
        <div class="progress-line Java"><span class=""></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Angular, CSS, HTML, JS, TS</span>
        </div>
        <div class="progress-line Angular"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Python</span>
        </div>
        <div class="progress-line Python"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Sql/MongoDB</span>
        </div>
        <div class="progress-line Sql"><span></span></div>
      </div>
    </div>
  </div>
  <div class="skills-hobbies card"></div>
</div>
