<div @skillsAnimation class="skills-card-container">
  <div class="skills-computer card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Compétences informatiques</h2>
    </div>
    <div class="skills-computer-container card-entity">
      <div class="skills-bar">
        <div class="skills-info">
          <span>Java</span>
        </div>
        <div class="progress-line Java"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Angular, CSS, HTML, JavaScript, TypeScript</span>
        </div>
        <div class="progress-line Angular"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Python</span>
        </div>
        <div class="progress-line Python"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Sql/MongoDB</span>
        </div>
        <div class="progress-line Sql"><span></span></div>
      </div>
    </div>
  </div>
  <div class="skills-computer card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Qualités Personnelles</h2>
    </div>
    <div class="card-entity">
      <div class="skills-bar">
        <div class="skills-info">
          <span>Curiosité</span>
        </div>
        <div class="progress-line curiosity"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Esprit d'équipe</span>
        </div>
        <div class="progress-line teamwork"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Prise d'initiative</span>
        </div>
        <div class="progress-line initiative"><span></span></div>
      </div>
    </div>
  </div>
  <div class="skills-hobbies card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Hobbies</h2>
    </div>
    <div class="hobbies-container">
      <lottie-player
        src="https://assets9.lottiefiles.com/private_files/lf30_uawutfqf.json"
        background="transparent"
        speed="1"
        loop
        autoplay
        >></lottie-player
      >
      <div class="hobbies-text">
        <h3>échecs</h3>
        <p>
          Je pratique les échecs comme un loisir, essentiellement sur internet
          (1750 sur chess.com). Cette activité m'a permis de développer ma
          concentration ainsi que ma patience notamment à travers des parties
          longues ou des tournois.
        </p>
      </div>
    </div>
    <div class="hobbies-container">
      <lottie-player
        src="https://assets1.lottiefiles.com/packages/lf20_KFcHPp.json"
        background="transparent"
        speed="1"
        loop
        autoplay
        >></lottie-player
      >
      <div class="hobbies-text">
        <h3>triathlon</h3>
        <p>
          Ayant une affinité pour la natation et l'athlétisme, la pratique du
          triathlon m'a permis de lier ces deux activités et de découvrir le
          cyclisme sur route. Plaisir dans l'effort mais aussi à participer aux
          différents événements publics relatifs à cette activité (triathlon,
          semi-marathon, etc...). De cette pratique naquit le plaisir de se
          dépasser ainsi que la discipline qui est nécessaire pour atteindre ses
          objectifs.
        </p>
      </div>
    </div>
    <div class="hobbies-container">
      <lottie-player
        src="https://assets5.lottiefiles.com/packages/lf20_pfgmklxj.json"
        background="transparent"
        speed="1"
        loop
        autoplay
        >></lottie-player
      >
      <div class="hobbies-text">
        <h3>Lecture</h3>
        <p>
          Mes études de philosophie requièrent de lire différents ouvrages
          philosophiques imposés ou non afin d'enrichir sa culture personnelle
          et de soutenir une argumentation. Même si cette discipline ne sera pas
          ma voie professionnelle, je continue à prendre plaisir à lire même si
          ce n'est pas de la philosophie.
        </p>
      </div>
    </div>
    <div class="hobbies-container">
      <lottie-player
        src="      https://assets9.lottiefiles.com/packages/lf20_DQp8VL.json"
        background="transparent"
        speed="1"
        loop
        autoplay
        >></lottie-player
      >
      <div class="hobbies-text">
        <h3>Plongée sous-marine</h3>
        <p>
          J'ai eu la chance de pratiquer la plongée sous-marine depuis l'âge de
          15 ans notamment au Marine Club de Nancy jusqu'en 2021. Durant cette
          période en club j'ai acquis un niveau 2. Un statut de EO m'a permis
          d'assister les moniteurs dans les formations niveau 1. Cette
          expérience m'a permis de développer mes capacités d'écoutes et
          organisationnelles. Je continue à pratiquer ce loisir lors de voyages.
          Hormis le plaisir inhérent à cette pratique, cela permet de se
          sensibiliser à la faune et flore aquatiques.
        </p>
      </div>
    </div>
  </div>
</div>
