<div @skillsAnimation class="skills-card-container">
  <div class="skills-computer card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Compétences informatiques</h2>
    </div>
    <div class="skills-computer-container card-entity">
      <div class="skills-bar">
        <div class="skills-info">
          <span>Java</span>
        </div>
        <div class="progress-line Java"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Angular, CSS, HTML, JavaScript, TypeScript</span>
        </div>
        <div class="progress-line Angular"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Python</span>
        </div>
        <div class="progress-line Python"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Sql/MongoDB</span>
        </div>
        <div class="progress-line Sql"><span></span></div>
      </div>
    </div>
  </div>
  <div class="skills-computer card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Qualités Personnelles</h2>
    </div>
    <div class="card-entity">
      <div class="skills-bar">
        <div class="skills-info">
          <span>Curiosité</span>
        </div>
        <div class="progress-line curiosity"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Esprit d'équipe</span>
        </div>
        <div class="progress-line teamwork"><span></span></div>
      </div>
      <div class="skills-bar">
        <div class="skills-info">
          <span>Prise d'initiative</span>
        </div>
        <div class="progress-line initiative"><span></span></div>
      </div>
    </div>
  </div>
  <div class="skills-hobbies card">
    <div class="title">
      <span class="blue-square"></span>
      <h2>Hobbies</h2>
    </div>
    <div class="hobbies" *ngFor="let data of dataHobbies">
      <div class="hobbies-container">
        <lottie-player
          src="{{ data.lottie }}"
          background="transparent"
          speed="1"
          loop
          autoplay
          >></lottie-player
        >
        <div class="hobbies-text">
          <h3>{{ data.title }}</h3>
          <p>
            {{ data.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
