.title {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  .blue-square {
    height: 1.7rem;
    width: 1.7rem;
    background-color: #85baf2;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}

.project-item {
  border: solid 2px black;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 900px;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  box-shadow: 0 0 1.25rem 0 #c1cde2;

  .project-presentation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    margin: 1rem;

    .project-item-description {
      text-align: justify;
      text-justify: auto;
    }

    .project-item-tools {
      font-style: italic;
      color: grey;
    }

    .project-item-link {
      a {
        text-decoration: none;
        font-size: 1rem;
        color: #333;
      }
      .project-item-icon {
        max-width: 15px;
        max-height: 15px;
        margin-right: 0.313rem;
      }
    }
  }
  .project-item-image {
    margin: 1rem;
    border-radius: 2rem;
  }
}

@media (max-width: 700px) {
  .project-item {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 420px) {
  .title {
    h1 {
      font-size: 40px;
    }
    .blue-square {
      height: 20px;
      width: 20px;
    }
  }
  .project-item {
    .project-item-image {
      img {
        height: 125px;
        width: 125px;
      }
    }
    .project-presentation {
      p,a{
        font-size: 11px;
      }
      .project-item-tools{
        font-size: 12px;
      }
      .project-item-link {
        display: flex;
        flex-direction: row;

        a{
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .title {
    h1 {
      font-size: 30px;
    }
    .blue-square {
      width: 20px;
      height: 20px;
    }
  }
  .project-item {
    .project-item-image {
      img {
        height: 100px;
        width: 100px;
      }
    }

    .project-presentation {
      h3 {
        font-size: 15px;
      }
      p,
      span {
        font-size: 10px;
      }

      .project-item-link {
        display: flex;
        flex-direction: row;

        img {
          height: 10px;
          width: 10px;
        }
      }
    }
  }
}

@media (min-width: 1366px) {
  .project-item {
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
