<div class="head">
  <span class="blue-square"></span>
  <h1>Michael Bardou</h1>
  <span>/</span>
  <p>Étudiant en informatique</p>
</div>

<div @cardAnimation class="card-container">
  <div class="left-card card">
    <lottie-player
      src="https://assets9.lottiefiles.com/packages/lf20_gneejfiq.json"
      background="transparent"
      speed="1"
      loop
      autoplay
    ></lottie-player>
    <h2>Michael Bardou</h2>
    <p>Étudiant en informatique</p>
    <div class="icon">
      <a href="https://github.com/Tailong-mb"
        ><img src="../../assets/Ressources/github-brands.svg"
      /></a>
      <a href="https://www.linkedin.com/in/michael-bardou-732483238"
        ><img src="../../assets/Ressources/linkedin-brands.svg"
      /></a>
    </div>
  </div>
  <div class="right-card card">
    <h2>Bonjour !</h2>
    <h3>J'étudie actuellement à l'IUT Charlemagne</h3>
    <div class="button-container">
      <button class="cv-button" routerLink="../cv">CV</button>
      <button class="project-button" routerLink="../project">Projets</button>
    </div>
    <p>
      Esprit curieux et volontaire, la première partie de mes études m’a permis
      de m’épanouir et de développer un esprit critique, notamment par les
      divers sujets que traite la philosophie. Aujourd’hui, conséquence d’une
      forte affinité pour la logique et des nouvelles technologies, la seconde
      partie de ma formation s’ouvre sur l’informatique. Celle-ci me permettra
      de développer les compétences nécessaires pour faire face aux
      problématiques du monde informatique professionnel.
    </p>
  </div>
</div>
